@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Hachi Maru Pop', cursive;
}
body{
    height: 100vh;
    background-image: url("roman-synkevych-UT8LMo-wlyk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}
.hide{
    display: none;
}
.searchContainer{
    width: 800px;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.7);
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    border-radius: 20px;
}

.searchInp{ 
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #fff;
    border-radius: 50px;
}
/* .div{
    width: 500px;
    display: flex;
    justify-content: space-between;
} */
.div h3{
    margin-bottom: 15px;
}
.name{
    margin-bottom: 15px;
}
.bio{
    margin-bottom: 15px;
}
.about{
    width: 700px;
    margin-left: 30px;
}
.divv{
    display: flex;
    align-items: center;
}
.add{
    cursor: pointer;
    color: #fff;
    transition: .5s linear;
}
.add:hover{
    color: blue;
}
.avatar{
    width: 300px;
    border-radius: 50%;
}
.repositoriess{
    display: flex;
    flex-direction: column;
}
.showContainer{
    width: 1300px;
    /* display: flex;
    align-items: center; */
    background-color: rgba(0,0,0,.7);
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-30%);
    border-radius: 20px;
    color: #fff;
}